configuration (  
        master_exec_path = "/usr/local/synopsys/icvalidator/K-2015.12-3/bin/LINUX64_L26el/icv_master",
        slave_exec_path = "/usr/local/synopsys/icvalidator/K-2015.12-3/bin/LINUX64_L26el/icv_slave",
        engine_exec_path = "/usr/local/synopsys/icvalidator/K-2015.12-3/bin/LINUX64_L26el/icv_engine",
        working_directory = "/home/cemaj/jwoosam/eecs168/pvjob_mylibrary.inverter.icv.lvs",
        run_details_directory = "/home/cemaj/jwoosam/eecs168/pvjob_mylibrary.inverter.icv.lvs/run_details",
        group_directory = "/home/cemaj/jwoosam/eecs168/pvjob_mylibrary.inverter.icv.lvs/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { bender.engr.ucr.edu, ""},
                 }
);
